.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  border-radius: 10px !important;
  line-height: 18px !important;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
  font-size: 20px !important;
}

.css-1ulkjg1-MuiFormControl-root {
  border-radius: 10px !important;
}

.css-6hp17o-MuiList-root-MuiMenu-list li {
  font-size: 13px !important;
  padding-right: 10px !important;
}

.MuiPaper-root {
  min-width: 148px !important;
}

.MuiSelect-select {
  font-size: 14px !important;
  display: flex;
  align-items: center;
}

.css-o5ylfj-MuiFormControl-root {
  right: 1px;
}
