.wapper{
    width: 62%;
    background: #f7f6f9;
    padding: 15px;
}

.weatherByDay {
    margin-top: 60px;
    
    ul {
       text-align: center;
    
        li {
            width: 200px;
            padding: 10px 0;
            margin: 0 20px;
            border-radius: 7px;
            text-align: center;
            cursor: pointer;
    
            button {
                display: none;
            }
            
            h3 {
                font-size: 1.7rem;
            }
    
            .photo {
                margin: 18px 0;
                display: flex;
                justify-content: center;
                
                img {
                    border-radius: 10px;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
                    width: 60px;
                    height: 60px;
                

                }
            }
    
            .title {
                font-size: 1.3rem;
                opacity: 0.9;
                color: #666;
            }
    
            .humidity {
                margin-top: 7px;
                font-size: 1.7rem;
            }
        }
    
        .active {
            color: white;
            background: #3e85e2;
            margin: 0 20px;
    
            .title {
                color: white;
            }
        }
    }
}

