/* Reset css */
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
/* Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

* {
  box-sizing: inherit;
}

html {
  font-family: 'Nunito', sans-serif;
  font-family: 'Open Sans', sans-serif;

  font-size: 62.5%;
  line-height: 1.6rem;
  min-height: 100vh;
  box-sizing: border-box;
  outline: none;
  border: none;
  scroll-behavior: smooth;
  background: linear-gradient(0deg, #615878, #615878 20%, #464161 60%, #313050 90%, #313050);
  background-repeat: no-repeat;
}

.App {
  width: 1100px;
  margin: 0 auto;
}

.wapper {
  display: flex;
  background: white;
  border-radius: 15px;
  margin-bottom: 50px;
  overflow: hidden;
}

.Toastify {
  font-size: 15px !important;
}

.demoSimpleSelect {
  font-size: 1.3rem;
}

.value {
  font-size: 1.2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
